<h1>Search by Web Crawling</h1>
<div class="well">
    <form [formGroup]="form">
        <div class="form-group">
            <input type="search"
                    class="form-control"
                    placeholder="Enter search string"
                    [formControl]="searchField">
        </div>
    </form>

    <div class="text-center">
        <p class="lead" *ngIf="loading">Loading...</p>
    </div>
  
    <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let track of results | async">
        <img *ngIf="track.type === 'Google'" src="./assets/images/google.png" style="width:25px;height:25px">
        <img *ngIf="track.type === 'DuckDuckGo'" src="./assets/images/duckduckgo.png" style="width:25px;height:25px">
        <a target="_blank"
            href="{{track.url}}">{{ track.url }}
        </a>
        </li>
    </ul>
</div>